.ng-enter {
  transition: 0.2s linear all;
  opacity: 0;
}
.ng-leave.ng-leave-active {
  display: none;
  transition: 0.0s linear all;
  opacity: 0;
}
.ng-enter.ng-enter-active {
  opacity: 1;
}

.loader {
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: rgba(255, 255, 255, 1.0);

  &:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    left: 50%;
    top: 50%;
    animation: rotate 0.6s linear infinite;
    border-radius: 100%;
    border: 2px solid #E6E6E6;
    border-top-color: #1bb3a0;
  }

  &--mini:after {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
  }

  .modal-content& {
    position: relative;
    min-height: 100px;
  }

  td& {
    position: relative;
    height: 60px;
  }

  @keyframes rotate {
    0% {
      transform: rotateZ(-360deg);
    }
    100% {
      transform: rotateZ(0deg);
    }
  }
}

.toolbox {
  align-self: flex-start;
  margin: 15px;
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: white;
  width: 350px;

  div {
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
  }

  &-layers {
    filter: grayscale(100%);
    background: url(/layers.svg);
    height: 40px;
    width: 40px;
  }

  &-edit {
    filter: grayscale(100%);
    background: url(/settings.svg);
    height: 40px;
    width: 40px;
  }

  &-move {
    filter: grayscale(100%);
    background: url(/move.svg);
    height: 40px;
    width: 40px;
  }

  &-submit {
    filter: grayscale(100%);
    background: url(/save.svg);
    height: 40px;
    width: 40px;
  }

  &-remove {
    filter: grayscale(100%);
    background: url(/remove.svg);
    height: 40px;
    width: 40px;
  }

  &-move, &-layers, &-edit, &-file_upload, &-submit, &-remove {
    cursor: pointer;
    transition: all .15s;
    &:hover {
      transform: scale(1.1);
    }

    &.active {
      transform: scale(1.05);
      filter: grayscale(0%);
    }
  }

  &-file_upload {
    cursor: pointer;
    filter: grayscale(0%);
    background: url(/upload.svg);
    height: 40px;
    width: 40px;

    input[type=file] {
      cursor: pointer;
      width: 40px;
      height: 40px;
      opacity: 0;
    }
  }

  &-tip {
    margin-top: 10px;
  }
}

.map {
  background: whitesmoke;
  display: flex;
  align-content: center;
  min-height: 100vh;

  &-container {
    position: relative;
    align-self: flex-start;
    min-width: 350px;
    min-height: 350px;
    margin: 15px;
    visibility: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    &.loaded {
      visibility: visible;
    }
  }

  &-image {
    user-select: none;
    display: none;
  }

  &-wifi {
    &-logo {
      //cursor: pointer;
      background: url(/wifi.svg);
      position: absolute;
      //display: inline-block;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border-radius: 50%;
      filter: grayscale(20%);
      transition: all .2s;
      box-shadow: 1px 9px 30px 0px rgba(0, 0, 0, 0.46);
      &:hover {
        border: none;
        transform: scale(1.05);
        filter: grayscale(0%);
      }

      &.draggable {
        cursor: move;
      }

      &.selected {
        background: url(/wifis.svg);
        transform: scale(1.05);
        box-shadow: 1px 9px 30px 0px rgba(0, 0, 0, 0.46);

        &.selected-last {
          span {
            cursor: pointer;
            display: block;
            background: rgba(0, 0, 0, 0.48);
            position: absolute;
            top: 110%;
            left: -24%;
            color: whitesmoke;
            border-radius: 2px;
            padding: 3px;

            &:hover {
              color: white;
              background: rgba(214, 87, 25, 0.79);
            }
          }
        }
      }

      span {
        display: none;
      }
    }
  }
}