<div class="modal-header">
    <h4 class="modal-title">Редактирование точек доступа</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <form novalidate autocomplete="off" role="form" name="editaps">
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label class="control-label" for="newname">Новое название</label>
                        <input id="newname" type="text"
                               class="form-control input-xs"
                               ng-model="newName">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary"
            ng-click="save()" ng-disabled="editaps.$invalid || !newName">
        <i class="fa fa-check-circle-o"></i> Сохранить
    </button>

    <button class="btn btn-danger" type="button" ng-click="close()">Закрыть</button>
</div>