<div class="map">
    <div class="toolbox text-center">
        <h4>Toolbox</h4>
        <div class="toolbox-edit"
             ng-click="toggleEditMode()"
             ng-class="{'active': editMode}"
             ng-mouseover="setTip($event)"
             data-tip="Режим редактирования точек. В нем вы можете выделять и переименовывать их">
        </div>
        <div class="toolbox-move"
             ng-click="toggleDraggable()"
             ng-class="{'active': draggable}"
             ng-mouseover="setTip($event)" data-tip="В этом режиме точки можно перемещать">
        </div>
        <div class="toolbox-layers"
             ng-click="toggleHeatMap()"
             ng-class="{'active': heatMap}"
             ng-mouseover="setTip($event)"
             data-tip="Показать/скрыть Heatmap">
        </div>
        <div class="toolbox-file_upload">
            <input ng-disabled="loading"
                   id="file"
                   type="file"
                   accept="image/*"
                   file-upload
                   ng-mouseover="setTip($event)"
                   data-tip="Загрузить новое изображение">
        </div>
        <div class="toolbox-submit"
             ng-if="files.length"
             ng-mouseover="setTip($event)"
             ng-click="setPoint()"
             data-tip="Сохранить изменения">
        </div>
        <div class="toolbox-remove"
             ng-if="files.length"
             ng-mouseover="setTip($event)"
             ng-click="deletePoint()"
             data-tip="Удалить изображение">
        </div>
        <p class="toolbox-tip">{{ tipData }}</p>
    </div>
    <div class="map-container text-center" ng-hide="!files.length">
        <div class="loader" ng-if="loading"></div>
        <img class="map-image img-responsive" src="/plan3.jpg">
        <div ng-repeat="point in points"
             title="{{point.ssid}}" data-toggle="tooltip" data-placement="top" tooltip
             class="map-wifi-logo"
             ng-class="{'selected' : point.selected, 'selected-last': point.lastselected, 'draggable': draggable}"
             ng-draggable='dragOptions'
             name="{{point.ssid}}"
             data-id="{{point.id}}"
             ng-style="{'top': point.top + '%', 'left': point.left + '%'}" ng-click="selectPoint($index)">
            <span ng-click="openEditModal($event)">Настроить {{selectedPoints.length === 1 ? point.ssid : selectedPoints.length + ' точки'}}</span>
        </div>
    </div>
</div>